.Resources{
    height: 100%;
}
.ResourcesHeader{
    background-color: #EDEDED;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    padding:10px 0;
}
.ResourceIcon{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center; 
    cursor: pointer;
}
.ResourceIcon:hover svg>path{
    fill:black;
}
.ResourceIcon path{
    fill:gray;
}

.ResourceDetail{
   background-color:white;
    height: 100%;
    margin-top:20px;
}
.activeResource{
    background-color: #eee;
}
.activeResource svg>path{
    fill:black;
}