.Resources{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.ResourcesHeader{
    background-color: #EDEDED;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:70px;
}
.ResourceIcon{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center; 
    cursor: pointer;
    height: 100%;
}
.ResourceIcon:hover svg>path{
    fill:black;
}
.ResourceIcon path{
    fill:gray;
}

.ResourceDetail{
   background-color:white;
   flex:1;
   padding-top:20px;
}
.activeResource{
    background-color: #eee;
    height: 100%;
}


.activeResource>.ResourceIcon{
background-color: #cfcece;
}

.activeResource svg>path{
    fill:black;
}
.ResourceFooter{
margin-left: 20px;
}