


 .Sidemenu{
    display: flex;
    flex-direction:column;
    width: 100%;
    color:black;
    justify-content: flex-start;
    align-items: center;
    transition:all 0.5s ease-in-out;
    border-left:1px solid gray;
    z-index: 100;
    opacity: 1;
}
.Sidemenu .editor .logo,
.Sidemenu .profile .logo,
.Sidemenu .settings .logo{
    width: 90%;
    margin:0 auto;
}

.Sidemenu .editor,
.Sidemenu .profile,
.Sidemenu .settings{
    display: flex;
    width: 100%;
    align-items: center;
}
.editor{
    flex-basis: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:20px;
}
hr{
    width:100%;
    height:1px;
    border:none;
    background-color: #eee;
}

.Sidemenu img{
    object-fit: contain;
    width:22px;
    margin:0 auto;
}
.Sidemenu .logo{
    width: 100%;
    padding:10px 0;
    display: flex;
    justify-content: center;
    transition: 0.3s all ease-in-out;
    border-radius: 10px;
}
.Sidemenu .logo:hover{
    background-color: lightgray;
}
.Sidemenu .settings{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.notLoggedIn{
    display:flex;
    width:100%;
   flex-direction:column;
   align-items:center;
   justify-content:flex-start;
   gap:10;

}
 
.notLoggedIn>a{
    width:100%
} 
.hideSideMenu{
width:0;
opacity: 0;
}
.shareContainer{
    padding:5px;
    width:100px;
    position:absolute;
    left:-100px;
    font-size: 10px;
    color:white;
    transition: all 0.4s ease-in;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #444;
    align-items: center;
    gap:5px;
    justify-content: center;
}
.share{
    position: relative;
}
 .active{
    left:100px;
}
.shareButton{
    display: flex;
    align-items: center;

}
.shareButton>div :hover{
  color:#444;
}