 .Sidemenu{
    display: flex;
    flex-direction:column;
    width: 100%;
    color:black;
    justify-content: space-around;
    align-items: center;
    max-height: 80vh;
    transition:all 0.5s ease-in-out;
    border-left:1px solid gray;
    z-index: 100;
}
.Sidemenu .editor a,
.Sidemenu .profile a,
.Sidemenu .settings a{
    width: 100%;
}

.Sidemenu .editor,
.Sidemenu .profile,
.Sidemenu .settings{
    display: flex;
    width: 100%;
    align-items: center;
}
.editor{
    flex-basis: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:20px;
}
hr{
    width:100%;
    height:1px;
    border:none;
    background-color: gray;
}

.Sidemenu img{
    object-fit: contain;
    width:22px;
    margin:0 auto;
}
.Sidemenu .logo{
    width: 100%;
    padding:10px 0;
    display: flex;
    justify-content: center;
    transition: 0.3s all ease-in-out;
    border-radius: 10px;
}
.Sidemenu .logo:hover{
    background-color: lightgray;
}
.Sidemenu .settings{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.notLoggedIn{
    display:flex;
    width:100%;
   flex-direction:column;
   align-items:center;
   justify-content:flex-start;
   gap:10;

}
 
.notLoggedIn>a{
    width:100%
} 